<launch>
    <!-- 
        这个启动文件适用于步兵。
        以下节点将会被启动：
        * 大恒相机节点
        * 相机录制节点
        * 自瞄主程序节点
        * 自瞄调试节点
        * 串口通讯节点
    -->
    <node name="daheng_camera" pkg="camera_pkg_daheng" type="camera_pkg_daheng_node" output="screen" respawn="true"></node>
    <node name="uart_process_main" pkg="uart_process_2" type="rm2020_uart_2stm32" output="screen" respawn="true"></node>
    <node name="camera_recorder" pkg="camera_recorder" type="camera_recorder_node" output="screen" respawn="true"></node>
    <node name="sagitari" pkg="sagitari" type="sagitari_node" output="log" respawn="true" args="--usecam=1"></node>
    <node name="sagitari_debug" pkg="sagitari_debug" type="sagitari_debug_node" output="screen" respawn="false"></node>


</launch>